.main-wrap{
    background-color: #262626;
    height: 5.2rem;
    position: relative;
        
}

.black-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    background-color: #262626;
    width: 100%;
    z-index: 3;
}

.white-nav{
    background-color: #ffff;
    top: 1;
    margin-top: 3.4rem;
    width: 95%;
    margin-left: 2rem;
    margin-right: 4rem;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 3;
    position: relative;
    top: 72px;
   position: fixed;
   top: 12px;
   box-shadow: 0 0px 8px 0px rgba(0, 0, 0, 0.2);
    
}

.contacts{
    display: flex;
    margin-left: 3rem;
    margin-top: 1px;
  
}

.socials{
    margin-right: 3rem;
    margin-top: 12px;

}

ul{
    display: flex;
    /* gap: 5px; */
}

li{
    padding: 3px;
    font-size: 2rem;
    list-style-type: none;
}

 

.flex-icon h1{
    color: #ffff;
    font-size: 1.2rem;
    

}

hr{
    height: 81px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
}

img{
    height: 100px;
    width: 19rem;
    margin-left: 2rem;
}

.menu{
    width: 50px;
    height: 50px;
    background-color: #c29d59;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu button{
    font-size: 2rem;
    color: #fff;
    border: 1px solid #c29d59;
    background-color: #c29d59;
    border-radius: 12px;
    margin-top: 5px;

}

.nw-others{
    display: flex;
    align-items: center;
    margin-right: 2rem;
    gap: 8px;
}


.icons{
    font-size: 2rem;
}

.icons1{
    font-size: 2rem;
    margin-top: 0px;
}

.flex-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
    gap: 12px;
}

.flex-icon:hover{
    background-color: #ffff;
    
    
}

.flex-icon h1{
    margin-top: .80rem;
}

.flex-icon h1:hover{
    color: #000;

}

.btn button{
    background-color: #c29d59;
    border: 1px solid #c29d59;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 1.2rem;
    color: #ffff;
    border-radius: 4px;
}

.search{
    font-size: 2rem;
}
p{
    font-size: 1.2rem;
}

.sa{
    font-size: 2rem;
}
.mod{
    position: absolute;
    width: 100%;
    height: 5px;
}

/* Nav responsive */
@media screen and (max-width: 800px){

    /* black navigation */
    .wrap{
        max-width: 800px;
    }
    .main-wrap{
        max-width: 800px;
        height: 3rem;
    }
    .black-nav{
        max-width: 85%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 3rem;
    }

    .black-nav > .contacts > hr{
        height: 40px;
    }

    .black-nav > .contacts{
        display: flex;
        flex-direction: row;
        flex-shrink: 2;
        max-width: 50%;
        flex-grow: 1;
        margin-left: 1rem;
        align-items: center;
    }

    .black-nav > .contacts > .flex-icon{
        width: 100%;
        height: 50%;
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 0rem;
    }

    .black-nav > .contacts > .flex-icon > .icons1{
        height: 50%;
        font-size: 20px;
    }
    
    .icons1 > h1{
        width: 18%;
        box-sizing: none;
    }

    .black-nav > .contacts > .flex-icon h1{
        font-size: 12px;
        margin-top: 0rem;

    }

    .black-nav > .contacts h1{
        font-size: 15px;
    }

    .black-nav > .socials{
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        flex-basis: 1;
        max-width: 80%;
        flex-grow: 1;
        margin-top: 0rem;
    }

    .black-nav > .socials > ul > hr{
        height: 35px;
    }


    .black-nav > .socials > ul{
        max-width: 80%;
        height: 50%;
        padding: 0px;
    }

    /* white navigation */
    .white-nav{
        max-width: 74%;
        height: 60px;
        position: fixed;
        top: -15px;
    }

    .white-nav > .nw-logo >  img{
        width: 50%;
        height: 30%;
    }

    .white-nav > .nw-others > .btn > button{
        padding: 6px;
        font-size: 1rem;
    }
}

/* responsive */
@media screen and (max-width: 800px){

    /* black navigation */
    .wrap{
        max-width: 800px;
    }
    .main-wrap{
        max-width: 800px;
        height: 3rem;
    }
    .black-nav{
        max-width: 85%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 3rem;
    }

    .black-nav > .contacts > hr{
        height: 40px;
    }

    .black-nav > .contacts{
        display: flex;
        flex-direction: row;
        flex-shrink: 2;
        max-width: 50%;
        flex-grow: 1;
        margin-left: 1rem;
        align-items: center;
    }

    .black-nav > .contacts > .flex-icon{
        width: 100%;
        height: 50%;
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 0rem;
    }

    .black-nav > .contacts > .flex-icon > .icons1{
        height: 50%;
        font-size: 20px;
    }
    
    .icons1 > h1{
        width: 18%;
        box-sizing: none;
    }

    .black-nav > .contacts > .flex-icon h1{
        font-size: 12px;
        margin-top: 0rem;

    }

    .black-nav > .contacts h1{
        font-size: 15px;
    }

    .black-nav > .socials{
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        flex-basis: 1;
        max-width: 80%;
        flex-grow: 1;
        margin-top: 0rem;
    }

    .black-nav > .socials > ul > hr{
        height: 35px;
    }


    .black-nav > .socials > ul{
        max-width: 80%;
        height: 50%;
        padding: 0px;
    }

    /* white navigation */
    .white-nav{
        max-width: 375px;
        height: 50px;
        position: fixed;
        top: -15px;
    }

    .white-nav > .nw-logo >  img{
        width: 60%;
        height: 40%;
    }

    .menu{
        width: 50px;
        height: 50px;
    }

    .white-nav > .nw-others > .btn > button{
        padding: 2px;
        font-size: .8rem;
    }
    .search svg{
        font-size: 1.2rem;
    }

    
}