.main-content{
    /* background-color: red; */
    height: 100vh;
    background-image: url('../../images/10003.jpg');
    background-size: cover;
    background-position: center;
}

.key{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    padding-top: 10px;
}

.di{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.di h2{
    font-size: 5rem;
    color: #000;
    margin-top: 12px;
    color: #fff;
}

.di p{
    font-size: 3rem;
    margin-top: 12px;
    margin-left: 22px;
    margin-right: 6px;
    color: #fff;
}


/* buttons */
.button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #c29d59;
    
}
.prev{
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 28rem;
    padding: 12px;
    font-size: 1.2rem;
    background-color: #c29d59;
    border: 1px;
    border-radius: 2px;
}
.next{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 28rem;
    padding: 12px;
    font-size: 1.2rem;
    background-color: #c29d59;
    border: 1px;
    border-radius: 2px;
}

.main-content .key .di p{
    font-size: 1.9rem;
}

.main-content .key .di h3{
    background-color: #c29d59;
    font-size: 2.7rem;
}


/* responsive */

@media screen  and (max-width: 800px){
    .main{
        max-width: 800px;
    }
    
    .main-content{
        max-width: 800px;
    }
    
    .main-content > .key{
        max-width: 100%;
    }
    
    .main-content .key{
        max-width: 680px;
    }
    
    .main-content .key .di{
        display: flex;
        flex-shrink: 1;
    }

    .main-content .key .di h2{
        font-size: 3rem;
    }

    .main-content .key .di h3{
        font-size: 2.7rem;
        color: #fff;
        padding: 3px;
    }
    
}

