.modal-bg{
    background-color: rgb(151, 143, 143);
    width: 100%;
    /* margin-left: 12px; */
    height: 100vh;
    position: absolute;
    left: 0;
    padding: 0;
    top: 0;
    
    
    
}
.right-btn{
    float: right;
    padding: 5px;

    color: #fff;
    border: 1px solid #ffff;
    border-radius: 25px;
    margin-right: 2.2rem;
}



