.modal-bg{
    background-color: #262626;
    width: 103%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    animation-name: modal;
    animation-duration: .9s; 
}

@keyframes modal{
    0%{
        left: 100%;
    }
    100%{
        left: 0%;
    }
    
}
 


.right-btn{
    float: right;
    color: #ffff;
    background-color: rgba(255, 0, 0, 0);
    margin-right: 80px;
    padding-left: 15px;
    padding-top: 13px;
    padding-right: 15px;
    border-radius: 40px;
    padding-bottom: 13px;
    border: 2px solid white;
    margin-top: 2rem;
    margin-right: 5rem;
}

.modal-cont > .wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #262626;
    border: none;
}

.modal-cont > .wrapper > .navs{
    display: flex;
    flex-direction: column;
    /* background-color: beige; */
    width: 47%;
    height: 40vh;
    justify-content: space-evenly;
    gap: 8px;
    background-color: #393939;
    padding: 12px;
    margin-left: 2rem;
}

.wrapper .navs span{
    margin-left: 5rem;
    color: #fff;
}

.wrapper .navs span a{
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
}

.wrapper .navs span a:hover{
    color: #987c48;
    
}

.social-s{
    display: flex;
    flex-direction: column;
    /* background-color: beige; */
    width: 20%;
    height: 26vh;
    margin-top: 4rem;
    justify-content: space-around;
    background-size: cover;
    background-position: center;
}

/* responsive */