.main-tour{
    display: flex;
    width: 70%;
    gap: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
}

.tours{
    margin-left: 3.8rem;
    height: 250vh;
    display: flex;
}

h1{
    color: black;
}

.tours-card{
    background-color: #fff;
    width: 100%;
    height: 79vh;
    box-shadow: 3px 2px 13px 1px rgba(0, 0, 0, 0.429);
    

}

.find{
    box-shadow: 3px 2px 13px 1px rgba(0, 0, 0, 0.429);
    height: 50rem;
    position: relative;
    bottom: 130px;
    background-color: #fff;
}

.find > .text{
    display: flex;
    align-items: center;
    margin: 18px;
    gap: 8px;
}
.find > .text > h1{
    font-size: 1.5rem;
}

.find > .text > .lin{
    width:4px;
    height: 40px;
    background-color: #c29d59;
}
.tours-card .image{
    width: 100%;
    height: 14rem;
    background-color: aliceblue;
}

.tours-card .image img{
    width: 100%;
    margin: 0;
    height: 100%;
}

.italy{
    background-color: #c29d59;
    padding: 12px;
    width: 50px;
    height: 20px;
    margin-left: 20px;
    text-align: center;
    position: relative;
    top: -20px;
}

.tours-card .image .discr{
    padding: 12px;
}
.duration{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20%;
    
}
.wrapper{
    background-color: #fff;
    border-top: 1px solid #0000003d;
    border-bottom: 1px solid #0000003d;
    padding: 12px;
    margin: 2px;
    
}

.book{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 12px;
    margin-left: 12px;
    margin-right: 12px;
}

.book button{
    background-color: #c29d59;
    padding: 8px;
    border: 1px #c29d59;
    border-radius: 4px;
    font-size: 1rem;
    color: #fff;
}

.disc{
    margin-left: 12px;
}

/* Main body */

.main{
    background-color: #fff;
    width: 100%;
    
   
}

.main .images{
    width: 100%;
    height: 20%;
    background-image: url(../../images/tourlist.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

.main .choose {
    display: flex;
}

.main .choose .side, .middle{
    width: 16rem;
    padding: 10px;
}

.main .choose .side{
    border-top: 1px solid #0000003d;
    border-bottom: 1px solid #0000003d;
}

.main .choose .middle{
    border: 1px solid #0000003d;
}

.main .images h1{
    font-size: 5rem;
    color: #ffff;

}

.main .choose{
    width: 40rem;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    margin-left: 3rem;
}

.mins{
    margin: 16px;
    display: flex;
    flex-direction: row;
    width: 260px;
}

.min > input{
    width: 70%;
    padding: 8px;
    margin-top: 8px;
    
}

.max > input{
    width: 70%;
    padding: 8px;
    border-radius: 4px;
    margin-top: 8px;
}

.max{
    margin-left: 10px;
}

/* responsive */